apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Values.StatefulSet.name }}
  labels:
    app: memcached
spec:
  serviceName: "memcached-service" 
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: memcached
  template:
    metadata:
      labels:
        app: memcached
    spec:
      containers:
        - name: {{ .Values.container.name }}
          image: "{{ .Values.container.image.repository }}:{{ .Values.container.image.image_tag }}"  # Use a specific version
          ports:
            - containerPort: {{ .Values.container.port }}
          resources:
            requests:
              memory: "64Mi"  # Reduced from 128Mi to 64Mi
              cpu: "125m"     # Reduced from 250m to 125m
            limits:
              memory: "128Mi" # Reduced from 256Mi to 128Mi
              cpu: "250m"     # Reduced from 500m to 250m
          envFrom:
            - configMapRef:
                name: {{ .Values.resource.config.name }}
          readinessProbe:  # Ensure the pod is ready before accepting traffic
            tcpSocket:
              port: 11211
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:  # Restart the pod if it becomes unresponsive
            tcpSocket:
              port: 11211
            initialDelaySeconds: 5
            periodSeconds: 10
          volumeMounts:
            - name: {{ .Values.volumeMounts.name }}
              mountPath: /data
  volumes:
        - name: {{ .Values.volumeMounts.name }}
          persistentVolumeClaim:
            claimName: {{ .Values.volume.claim.name }}

