
.idea
venv
*.log
*.tmp
*.hcl
*.tfstate
*.backup
*.terraform
*.info
account-info.txt
/.pytest_cache/
/.Ds_Store
/id_gcp_key
/id_gcp_key.pub
/src/hosts
.pem
/aws/templates/user-data.sh
*.tgz
/helm/download/index.yaml